pipeline/pl_cp_db_to_adls.json
{
	"name": "pl_cp_db_to_adls",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.input",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "cp_db_to_adls",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Lookup_json",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "current_date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * \nFROM @{item().schema}.@{item().table} \nWHERE @{item().cdc_col} > '@{if(empty(item().update_from),activity('Lookup_json').output.value[0].cdc,item().update_from)}'\n\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sql_db",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().table",
											"type": "Expression"
										},
										"table": {
											"value": "@item().table",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_parquet",
									"type": "DatasetReference",
									"parameters": {
										"Pqt_directory": "bronze",
										"pqt_folder": {
											"value": "@item().table",
											"type": "Expression"
										},
										"pqt_file": {
											"value": "@concat(item().schema,'.',item().table,'_',variables('curretn_date'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Lookup_json",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "ds_adls_json",
									"type": "DatasetReference",
									"parameters": {
										"json_directory": "bronze",
										"json_folder": {
											"value": "@{item().table}_cdc",
											"type": "Expression"
										},
										"json_file": "cdc.json"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "current_date",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "curretn_date",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "cp_db_to_adls",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('cp_db_to_adls').output.dataRead,0 )",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Delete1",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "ds_adls_parquet",
												"type": "DatasetReference",
												"parameters": {
													"Pqt_directory": "bronze",
													"pqt_folder": {
														"value": "@item().table",
														"type": "Expression"
													},
													"pqt_file": "@concat(item().schema,'.',item().table,'_',variables('curretn_date'))"
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "lastDate",
										"type": "Script",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "ls_sqlDB",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "SELECT MAX(@{item().cdc_col}) as cdc from @{item().schema}.@{item().table};",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "update_last_cdc",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "lastDate",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"additionalColumns": [
													{
														"name": "cdc",
														"value": {
															"value": "@activity('lastDate').output.resultSets[0].rows[0].cdc",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "JsonWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_adls_json",
												"type": "DatasetReference",
												"parameters": {
													"json_directory": "bronze",
													"json_folder": "json",
													"json_file": "empty.json"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_json",
												"type": "DatasetReference",
												"parameters": {
													"json_directory": "bronze",
													"json_folder": {
														"value": "@{item().table}_cdc",
														"type": "Expression"
													},
													"json_file": "cdc.json"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"input": {
				"type": "array",
				"defaultValue": [
					{
						"schema": "dbo",
						"table": "DimTrack",
						"cdc_col": "updated_at",
						"update_from": ""
					},
					{
						"schema": "dbo",
						"table": "DimUser",
						"cdc_col": "updated_at",
						"update_from": "2024-01-02"
					},
					{
						"schema": "dbo",
						"table": "DimDate",
						"cdc_col": "date",
						"update_from": ""
					},
					{
						"schema": "dbo",
						"table": "DimArtist",
						"cdc_col": "updated_at",
						"update_from": ""
					},
					{
						"schema": "dbo",
						"table": "FactStream",
						"cdc_col": "stream_timestamp",
						"update_from": ""
					}
				]
			}
		},
		"variables": {
			"curretn_date": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-22T09:37:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}